@keyframes showMenu {
    0% {
        transform: scaleY(0);
        z-index: 3;
    }

    80% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);

    }
}

.slideL {
    opacity: 0;
    transform: translateX(-30px);
}

.slideR {
    opacity: 0;
    transform: translateX(30px);
}
.slideD {
    opacity: 0;
    transform: translateY(30px);
}

@media screen and (min-width: 800px) {

    .slideL {
        opacity: 0;
        transform: translateX(-100px);
    }

    .slideR {
        opacity: 0;
        transform: translateX(100px);
    }
    .slideD {
    opacity: 0;
    transform: translateY(200px);
}
}

.slideIn2 {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 500ms;
}

.fadeIn {
    transform: scale(0);
}

.fadeIn2 {
    transform: scale(1);
    transition: transform 700ms ease;
}

    .slideD2 {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 500ms;
}
