@import '/css/color.css';

header {
  width: 100%;
  background-color: var(--bg-color1);
  padding: 15px 0;
  nav {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    background-color: inherit;
    padding-block: 20px;

    @media (width < 1200px) {
      width: 100%;
      padding: 5px 0;
    }
    a {
      color: var(--fg-color1);
      font-size: clamp(1rem, 2.5vw, 2rem);
      padding: 0.5rem;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      transition:
        transform 500ms,
        color 500ms;
      &:hover,
      &:focus-visible {
        color: red;
        transform: scale(1.2);
        outline: transparent;
      }

      &::before {
        content: '';
        border-bottom: 3px solid red;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform ease 400ms;
      }
      &:hover::before,
      &:focus-visible::before {
        content: '';
        transform: scaleX(1);
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: var(--bg-color1);
  section {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (width < 1200px) {
      width: 100%;
    }

    section {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;

      @media (width < 1200px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      div {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px 0;

        @media (width < 1200px) {
          width: 100%;
          align-items: center;
          justify-content: center;
        }

        a,
        p {
          color: var(--fg-color1);
          padding: 10px 0;
          font-size: 1.5rem;
          font-weight: 500;
          letter-spacing: 0.1rem;
          text-decoration: none;
        }
      }
    }
    small {
      color: gold;
      letter-spacing: 0.1rem;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
