@import '/css/color.css';

main.home {
  width: 100%;
  margin: 0 auto;
  .s1 {
    width: 100%;
    aspect-ratio: 5/1;
    padding: 10px;
    background-image:
      conic-gradient(hsla(0, 0%, 0%, 0.75) 0 0), url(/img/home-img.jpg);
    background-size: cover;
    background-position: 5%;
    mask-image: linear-gradient(var(--bg-color2) 60%, transparent);
    @media (width <1200px) {
      aspect-ratio: 2/1;
    }
    div {
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;

      @media (width < 900px) {
        width: 100%;
      }

      h1 {
        font-size: 5rem;
        display: inline-block;
        text-align: center;
        color: var(--fg-color1);
        text-transform: uppercase;
        letter-spacing: 1rem;
        line-height: 6rem;
        font-family: var(--font-h);
        font-weight: 900;
        @media (width <1200px) {
          font-size: clamp(2rem, 2.5vw, 4rem);
        }
      }
      img {
        display: block;
        width: 70%;
        aspect-ratio: 21/9;

        @media (width < 900px) {
          display: none;
        }
      }
    }
  }
  .s2 {
    background-color: var(--bg-color2);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media (width < 1200px) {
      flex-direction: column;
      justify-content: center;
    }

    a {
      width: 300px;
      padding: 10px;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      aspect-ratio: 2/1;
      background-color: #6e6428;
      border: 2px solid var(--fg-color1);
      box-shadow: 0 0 26px -5px var(--fg-color1);
      transform: scale(1);
      transition:
        transform 1s,
        opacity 1s;

      @media (width < 1200px) {
        width: 200px;
      }

      &:hover,
      &:focus-visible {
        transform: scale(1.2);
        box-shadow: 0 0 35px -5px var(--fg-color1);
      }
    }

    img {
      margin-inline: auto;
      width: 80%;
      aspect-ratio: 2/1;
    }
    p {
      text-decoration: none;
      text-align: center;
      font-family: var(--font-p);
      color: var(--fg-color1);
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 500;
      line-height: 4rem;
      letter-spacing: 0.2rem;
    }
  }
  .s3 {
    background-color: hsl(from var(--bg-color1) h s 30%);
    padding: 20px;
    div {
      margin-inline: auto;
      width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      @media (width < 1200px) {
        width: 100%;
        padding: 10px 5px;
        flex-direction: column;
        justify-content: center;
      }
      img {
        width: 40%;
        aspect-ratio: 1/1;
        margin: 0 auto;
        mask-image: url('/img/accessibility-svgrepo-com.svg');

        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;

        transition:
          transform 1s,
          opacity 1s;
      }
      p {
        width: 40%;
        font-family: var(--font-p);
        text-align: justify;
        color: var(--fg-color1);
        font-size: 2rem;
        font-weight: 500;
        line-height: 4rem;
        letter-spacing: 0.2rem;
        transition:
          transform 1s,
          opacity 1s;

        @media (width < 1200px) {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}
.r1 {
  transform: translateX(-50rem);
  opacity: 0;
}
.r2 {
  opacity: 1;
  transform: translateX(0rem);
}

.l1 {
  transform: scale(0);
  opacity: 0;
}
.l2 {
  opacity: 1;
  transform: scale(1);
}

.lewo {
  animation: sl 2s forwards;
}
.prawo {
  animation: sp 2s forwards;
}

@keyframes sl {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes sp {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
