:root {
  --headerFoterColor1: hsl(51, 100%, 50%);
  --headerFoterColor1hover: hsl(255, 0%, 100%);
  --headerFoterColor1Scroll: hsl(51, 100%, 50%);
  --headerFoterColor1hoverScroll: hsl(255, 0%, 100%);

  --firstLeter: hsl(51, 100%, 50%);

  --textColor1: hsl(255, 0%, 100%);
  --textColor2: hsl(0, 0%, 0%);
  --textColor3: hsl(0, 0%, 30%);
  --textColor3hover: hsl(255, 0%, 100%);

  --text-Color1: hsl(51, 100%, 50%);
  --text-Color2: hsl(51, 100%, 30%);
  --text-Color3: hsl(0, 0%, 100%);

  --backgroundColor1: hsl(217, 86%, 45%);
  --backgroundColor1scroll: var(--backgroundColor1);
  --backgroundColor1scrollBorder: hsl(217, 86%, 11%);
  --backgroundColor1Kart: rgba(4, 23, 54, 0.7);
  --backgroundColor2: hsl(202, 83%, 65%);

  --font-family1: 'Libre Baskerville', serif;

  --hamburgerBackground: white;
  --menuLineColor: gold;
  --headerColor1: black;
  --headerColor1Hover: white;

  --max-width1: 1200px;
  --max-width2: 1800px;
  --max-width3: 2000px;
}

.dark {
  --headerFoterColor1: hsl(51, 100%, 50%);
  --headerFoterColor1hover: hsl(255, 0%, 100%);
  --headerFoterColor1Scroll: hsl(51, 100%, 50%);
  --headerFoterColor1hoverScroll: hsl(255, 0%, 100%);

  --firstLeter: hsl(51, 100%, 50%);

  --textColor1: hsl(255, 0%, 100%);
  --textColor2: hsl(0, 0%, 100%);
  --textColor3: hsl(0, 0%, 70%);
  --textColor3hover: hsl(255, 0%, 100%);

  --text-Color1: hsl(51, 100%, 50%);
  --text-Color2: hsl(51, 100%, 30%);
  --text-Color3: hsl(0, 0%, 100%);

  --backgroundColor1: hsl(217, 86%, 11%);
  --backgroundColor1scroll: rgba(4, 23, 54, 0.7);
  --backgroundColor1scrollBorder: transparent;
  --backgroundColor1Kart: rgba(4, 23, 54, 0.7);
  --backgroundColor2: rgb(1, 11, 28);

  --font-family1: 'Libre Baskerville', serif;

  --hamburgerBackground: white;
  --menuLineColor: gold;
  --headerColor1: black;
  --headerColor1Hover: white;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scrollPadding, 15rem);
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  font-weight: bold;
  margin: 0 auto;
  z-index: 998;
  background: transparent;
  transition: background-color 500ms;
}

header.scroll {
  background: var(--backgroundColor1);
}

header > nav {
  max-width: var(--max-width2);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: clamp(2.2rem, 3vw, 4rem) clamp(1.6rem, 2.3vw, 3rem);
  position: relative;
  transition: padding 500ms;
}

header.scroll > nav {
  padding: clamp(0.7rem, 1vw, 1.3rem) clamp(0.5rem, 0.7vw, 1rem);
}

header > nav > i {
  color: var(--headerFoterColor1);
  font-size: clamp(1.6rem, 2.3vw, 3rem);
  font-weight: 700;
  transition: font-size 500ms, transform 500ms;
}

@media screen and (hover: hover) {
  header > nav :is(i:hover, i:focus) {
    transform: scale(1.2);
    color: var(--headerFoterColor1hover);
    outline: transparent;
    cursor: pointer;
  }
}

header.scroll > nav > i {
  font-size: clamp(1.4rem, 1.9vw, 2.5rem);
}

.ham {
  width: 20px;
  height: 20px;
  border: 2px solid var(--hamburgerBackground);
  border-radius: 5px;
  position: absolute;
  top: 25%;
  right: 10%;
  cursor: pointer;
  transition: top 500ms;
}

header.scroll .ham {
  top: 10%;
}

.ham::before,
.ham::after {
  content: '';
  width: 10px;
  height: 2px;
  background-color: var(--hamburgerBackground);
  position: absolute;
}

.ham::before {
  top: 20%;
  left: 20%;
}

.ham::after {
  top: 60%;
  left: 20%;
}

header > nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: clamp(4.4rem, 6vw, 8rem);
  left: 0;
  right: 0;
  transform-origin: top center;
  transition: top 500ms;
  background-color: var(--backgroundColor1);
  animation: showMenu 500ms ease forwards, background-color 500ms, top 500ms;
}

header.scroll > nav > ul {
  top: 2.5rem;
}

header nav ul li {
  width: 100%;
  text-align: center;
  /*border-bottom: 2px var(--menuLineColor) solid;*/
}

header nav ul li a {
  color: var(--headerFoterColor1);
  text-transform: capitalize;
  font-weight: 900;
  font-size: clamp(1.4rem, 1.9vw, 2.5rem);
  margin: 1em 0;
  padding: 0.5em 0;
  font-family: var(--font-family1);
  text-align: center;
  transition: transform 500ms, color 500ms, font-size 500ms;
}

header.scroll nav ul li a {
  font-size: clamp(1.2rem, 1.6vw, 2rem);
}

@media screen and (hover: hover) {
  header nav ul li :is(a:hover, a:focus) {
    transform: scale(1.2);
    color: var(--headerFoterColor1hover);
    outline: transparent;
  }

  header nav ul li a::before {
    content: '';
    border-bottom: 3px solid var(--headerFoterColor1hover);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform ease 400ms;
  }

  header nav ul li a:hover::before,
  header nav ul li a:focus::before {
    content: '';
    transform: scaleX(1);
  }
}

.hiden {
  display: none;
}

@media screen and (min-width: 800px) {
  .ham {
    display: none;
  }

  header nav ul li {
    border-bottom: none;
  }

  header nav ul li a {
    margin: 1em 0.7em 1em 0;
  }

  header ul.hiden {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }

  header.scroll {
    background-color: var(--backgroundColor1scroll);
    /*border-bottom: 5px solid var(--backgroundColor1scrollBorder);*/
  }

  header.scroll > nav > h1 > a {
    color: var(--headerFoterColor1Scroll);
  }

  @media screen and (hover: hover) {
    header.scroll > nav > h1 > :is(a:hover, a:focus) {
      color: var(--headerFoterColor1hoverScroll);
    }
  }

  header.scroll nav ul li a {
    color: var(--headerFoterColor1Scroll);
    font-size: clamp(1.2rem, 1.6vw, 2rem);
  }

  @media screen and (hover: hover) {
    header nav ul li :is(a:hover, a:focus) {
      color: var(--headerFoterColor1hoverScroll);
    }

    header nav ul li a::before {
      border-bottom: 3px solid var(--headerFoterColor1hoverScroll);
    }
  }

  header > nav > ul {
    background-color: transparent;
  }

  header.scroll > nav > ul {
    top: 0;
    background-color: transparent;
  }
}

.header-color {
  background: var(--backgroundColor1);
  transition: background 300ms;
}

/*----------nagłowekhead-------------*/
body {
  background-color: var(--backgroundColor2);
  font-family: 'Libre Baskerville', serif;
}

.swiper {
  margin: 0 auto;
  width: 100%;
  /*max-width: var(--max-width3);*/
  aspect-ratio: 21 / 6;
  /* margin-top: clamp(60px, 15vw, 200px); */
}

.main-img {
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  /*max-width: var(--max-width3);/**/
  aspect-ratio: 21/6;
  position: relative;
  display: flex;
  isolation: isolate;
  overflow: hidden;
}

.img1 {
  background-image: url(../img/marc-mintel-Q-ioK6NPFos-unsplash.jpg);
}

.img2 {
  background-image: url(../img/scott-graham-5fNmWej4tAA-unsplash.jpg);
}

.img3 {
  background-image: url(../img/kevin-bhagat-zNRITe8NPqY-unsplash.jpg);
}

.main-img div {
  position: relative;
  top: 70%;
  width: 100%;
  height: 30%;
}

.main-img div::after {
  content: '';
  position: absolute;
  background-color: hsl(240, 89%, 59%);
  z-index: -1;
  inset: 0;
  mix-blend-mode: multiply;
}

.main-img div h2 {
  position: absolute;
  top: 10%;
  left: 10%;
  text-transform: uppercase;
  font-size: clamp(29px, 4.2vw, 50px);
  color: var(--text-Color1);
  font-family: var(--font-family1);
}

.main-img div p {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: clamp(20px, 2.5vw, 30px);
  color: var(--text-Color1);
  font-family: var(--font-family1);
}

main {
  margin-top: clamp(39px, 4.8vw, 60px);
}

#wyk,
#kon,
#cer,
#skill,
#info {
  padding: clamp(24px, 3.4vw, 40px) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--max-width1);
  margin: 0 auto;
}

:is(#wyk, #kon, #cer, #skill, #info) h2 {
  font-size: clamp(20px, 2.5vw, 30px);
  color: var(--textColor2);
  text-transform: uppercase;
  text-align: left;
  flex-basis: 30%;
  font-family: var(--font-family1);
  padding-bottom: clamp(20px, 2.5vw, 30px);
  font-weight: 700;
}

:is(#wyk, #kon, #cer, #skill) div {
  flex-basis: 67%;
}

:is(#wyk, #kon, #cer, #info) p {
  font-size: clamp(14px, 2vw, 24px);
  padding: 0 clamp(5px, 0.8vw, 10px) clamp(24px, 3.4vw, 40px);
  color: var(--textColor3);
  line-height: 1.8;
  text-align: center;
}

#skill ul li {
  font-size: clamp(14px, 2vw, 24px);
  padding: 0 clamp(5px, 0.8vw, 10px) clamp(24px, 3.4vw, 40px);
  color: var(--textColor3);
  line-height: 1.5;
  text-align: center;
}

#cer ul li a {
  font-size: clamp(20px, 2.5vw, 30px);
  padding: 0 clamp(5px, 0.8vw, 10px) clamp(24px, 3.4vw, 40px);
  color: var(--textColor3);
  text-transform: uppercase;
  line-height: 1.8;
  text-align: justify;
  font-family: var(--font-family1);
  transform: scale(1);
  transition: color 500ms, transform 500ms;
}

@media screen and (hover: hover) {
  #cer ul li :is(a:hover, a:focus) {
    color: var(--textColor3hover);
    outline: transparent;
    transform: scale(1.2);
  }
}

:is(#wyk, #kon, #info) p::first-letter,
:is(#cer, #skill) li::first-letter,
:is(#cer, #skill) li a::first-letter {
  font-size: clamp(20px, 2.5vw, 30px);
  color: var(--firstLeter);
}

#kon p {
  display: block;
}

#kon span {
  font-size: clamp(20px, 2.5vw, 30px);
}

:is(#frontend, #info) h2 {
  font-size: clamp(20px, 2.5vw, 30px);
  color: var(--textColor1);
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-family1);
  font-weight: 700;
  padding-top: clamp(106px, 12.6vw, 150px);
}

:is(#frontend, #backend) > div {
  padding: clamp(24px, 3.4vw, 40px) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--max-width1);
  margin: 0 auto;
}

/* stopka */
footer {
  background: var(--backgroundColor1);
  color: var(--headerFoterColor1Scroll);
  padding: clamp(12px, 1.6vw, 20px) 0;
}

div.footer {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: var(--max-width2);
  margin: 0 auto;
}

.f1,
.f2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: clamp(12px, 1.6vw, 20px) 0;
  font-size: clamp(14px, 2vw, 24px);
  line-height: 1.7em;
}

.footer :is(a, span, i) {
  font-size: clamp(14px, 2vw, 24px);
  color: var(--headerFoterColor1Scroll);
  text-transform: uppercase;
  font-family: var(--font-family1);
  transform: scale(1);
  line-height: 1.8;
  transition: color 500ms, transform 500ms;
}

.footer i {
  color: var(--headerFoterColor1);
}

@media screen and (hover: hover) {
  .footer :is(a:hover, a:focus) {
    color: var(--headerFoterColor1hover);
    outline: transparent;
    transform: scale(1.2);
  }
}

footer hr {
  border-color: var(--headerFoterColor1);
}

footer small {
  font-size: clamp(10px, 1.3vw, 15px);
  text-align: center;
  margin: clamp(14px, 2vw, 24px) 0;
  font-family: var(--font-family1);
}

@media screen and (min-width: 800px) {
  .main-img {
    display: flex;
  }

  :is(#wyk, #kon, #cer) p {
    text-align: justify;
  }

  #skill ul li {
    text-align: justify;
  }

  #wyk,
  #kon,
  #cer,
  #skill,
  :is(#frontend, #backend) div {
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
  }

  .footer {
    flex-direction: row;
  }
}

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
.skos {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 3rem 0;
}

.skos::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: skewY(-5deg);
  background: var(--backgroundColor1);
}

.skos2::after {
  background: transparent;
}

/*    ///////////////////*/
.front {
  background-image: url(../img/michael-baccin-XopauR-Nagk-unsplash.jpg);
}

.back {
  background-image: url(../img/markus-spiske-8OyKWQgBsKQ-unsplash.jpg);
}

:is(#frontend, #backend) .karta {
  background-size: cover;
  padding: 5rem 0 0;
  width: 80%;
  margin: 5rem auto;
  display: block;
  overflow: hidden;
  border-radius: 1rem;
}

:is(#frontend, #backend) .karta-zawartosc {
  background: var(--backgroundColor1Kart);
  min-height: 100%;
  padding: 1rem 4rem;
  transform: translateY(0);
}

:is(#frontend, #backend) .karta-zawartosc h3 {
  font-size: clamp(20px, 2.5vw, 30px);
  text-transform: uppercase;
  padding: 1rem 0 3rem;
  line-height: 1.8;
  color: var(--text-Color1);
}

:is(#frontend, #backend) .karta-zawartosc p {
  font-size: clamp(14px, 2vw, 24px);
  padding: 2rem 0;
  max-width: 35ch;
  text-align: justify;
  line-height: 1.8;
  transform: translateX(0);
  color: var(--text-Color1);
  transition: transform 500ms;
}

:is(#frontend, #backend) .karta-zawartosc a {
  cursor: pointer;
  font-size: clamp(12px, 1.6vw, 20px);
  padding: 1em 2em;
  width: 100%;
  background-color: green;
  border: 3px solid pink;
  margin: 0 auto;
  border-radius: 1rem;
  text-align: center;
  color: var(--text-Color3);
  transition: transform 500ms;
}

@media screen and (hover: hover) {
  :is(#frontend, #backend) .karta-zawartosc {
    transform: translateY(80%);
    transition: transform 500ms;
  }

  :is(#frontend, #backend) .karta:hover .karta-zawartosc,
  :is(#frontend, #backend) .karta:focus-visible .karta-zawartosc {
    transform: translateY(0);
  }

  :is(#frontend, #backend) .karta:focus-visible .karta-zawartosc {
    transition: transform 0ms;
  }

  :is(#frontend, #backend) .karta-zawartosc p {
    transform: translateX(200%);
    transition: transform 500ms;
  }

  :is(#frontend, #backend) .karta:hover .karta-zawartosc p,
  :is(#frontend, #backend) .karta:focus-visible .karta-zawartosc p {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 500ms;
  }

  :is(#frontend, #backend) .karta:focus-visible .karta-zawartosc p {
    transform: translateX(0);
    opacity: 1;
    /* transition-delay: 500ms; */
  }

  :is(#frontend, #backend) .karta-zawartosc a:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 800px) {
  :is(#frontend, #backend) .karta {
    flex-basis: 40%;
  }
}
