:root {
  font-size: 10px;
  --bg-color1: hsl(0, 0%, 0%);
  --bg-color2: hsl(0, 0%, 10%);
  --bg-color3: hsl(0, 0%, 30%);

  --fg-color1: hsl(0, 0%, 100%);
  --fg-color2: hsl(0, 0%, 85%);
  --fg-color3: hsl(0, 0%, 70%);
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  background-color: var(--bg-color1);
  padding: 15px 0;
  nav {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    background-color: inherit;
    padding-block: 20px;

    @media (width < 1200px) {
      width: 100%;
      padding: 5px 0;
    }
    a {
      color: var(--fg-color1);
      font-size: clamp(1rem, 2.5vw, 2rem);
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      &:hover,
      &:focus-visible {
        color: red;
      }
    }
  }
}

main.home {
  width: 100%;
  margin: 0 auto;
  .s1 {
    width: 100%;
    aspect-ratio: 5/1;
    padding: 10px;
    background-image:
      conic-gradient(hsla(0, 0%, 0%, 0.75) 0 0), url(/img/home-img.jpg);
    background-size: cover;
    background-position: 30%;
    mask-image: linear-gradient(var(--bg-color2) 60%, transparent);
    @media (width <1200px) {
      aspect-ratio: 2/1;
    }
    div {
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;

      @media (width < 900px) {
        width: 100%;
      }

      h1 {
        font-size: 5rem;
        display: inline-block;
        text-align: center;
        color: var(--fg-color1);
        text-transform: uppercase;
        letter-spacing: 1rem;
        line-height: 6rem;
        font-weight: bold;
        @media (width <1200px) {
          font-size: clamp(2rem, 2.5vw, 4rem);
        }
      }
      img {
        display: block;
        width: 70%;
        aspect-ratio: 21/9;

        @media (width < 900px) {
          display: none;
        }
      }
    }
  }
  .s2 {
    background-color: var(--bg-color2);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media (width < 900px) {
      flex-direction: column;
      justify-content: center;
    }

    a {
      width: 300px;
      padding: 10px;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      aspect-ratio: 2/1;
      background-color: #6e6428;
      border: 2px solid var(--fg-color1);
      box-shadow: 0 0 26px -5px var(--fg-color1);
      transform: scale(1);
      transition: transform 1s;

      &:hover,
      &:focus-visible {
        transform: scale(1.2);
      }
    }

    img {
      margin-inline: auto;
      width: 80%;
      aspect-ratio: 2/1;
    }
    p {
      text-decoration: none;
      color: var(--fg-color1);
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }
  .s3 {
    background-color: hsl(from var(--bg-color1) h s 30%);
    padding: 20px;
    div {
      margin-inline: auto;
      width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      @media (width < 1200px) {
        width: 100%;
        padding: 10px 5px;
        flex-direction: column;
        justify-content: center;
      }
      p {
        width: 40%;
        text-align: justify;
        color: var(--fg-color3);
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.1rem;

        @media (width < 1200px) {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}
main.cv {
  .img {
    width: 100%;
    aspect-ratio: 5/1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:
      conic-gradient(hsl(from var(--bg-color2) h s l / 0.75) 0 0),
      url(/img/cv-img2.jpg);
    background-size: cover;
    mask-image: linear-gradient(var(--bg-color2) 60%, transparent);
    @media (width <1200px) {
      aspect-ratio: 2/1;
    }
    h1 {
      font-size: 5rem;
      display: inline-block;
      text-align: center;
      color: var(--fg-color1);
      text-transform: uppercase;
      letter-spacing: 1rem;
      line-height: 6rem;
      font-weight: bold;

      @media (width <1200px) {
        font-size: clamp(2rem, 2.5vw, 3rem);
      }
    }
    p {
      text-align: center;
      color: var(--fg-color1);
      letter-spacing: 0.2rem;
      font-size: 2rem;
      text-transform: uppercase;

      @media (width <1200px) {
        font-size: clamp(0.5rem, 1.2vw, 1rem);
      }
    }
  }
  .s1 {
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: var(--bg-color2);
    justify-content: space-around;

    a {
      color: var(--fg-color1);
      font-size: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      @media (width < 1200px) {
        font-size: clamp(0.5rem, 1.2vw, 1rem);
      }
      &:hover,
      &:focus-visible {
        color: red;
      }
    }
  }
  .s2 {
    width: 100%;
    background-color: var(--bg-color3);
    padding: 50px 0;
    div {
      width: 1200px;
      background-color: var(--bg-color3);
      margin: 0 auto;
      @media (width <1200px) {
        width: 100%;
      }

      #Wykształcenie,
      #Certyfikaty,
      #Umiejętności,
      #Kontakt,
      #Informacje {
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
          'h .'
          '. c';
        @media (width <1200px) {
          grid-template-areas:
            'h h'
            'c c';
        }

        h4 {
          font-size: 3rem;
          display: inline-block;
          text-align: center;
          color: var(--fg-color1);
          text-transform: uppercase;
          letter-spacing: 1rem;
          font-weight: bold;
          line-height: 3.5rem;
          background-color: var(--bg-color1);
          padding: 10px 10px;

          grid-area: h;
          @media (width <1200px) {
            font-size: 2rem;
          }
        }
        .pok {
          display: flex;
          flex-direction: column;

          width: 95%;
          grid-area: c;
          p {
            text-align: justify;
            color: var(--fg-color2);
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2.5rem;
            letter-spacing: 0.1rem;
            padding: 10px;
            border: 2px solid var(--fg-color1);
            background-color: var(--bg-color1);
            margin: 10px 0;
            border-radius: 10px;
            box-shadow: 0 0 26px -5px var(--fg-color1);
            &::after {
              content: '';

              border: 5px solid white;
              border-radius: 0 0 0 12px;
              border-top-color: transparent;
              border-right-color: transparent;

              position: absolute;
              @media (width <1200px) {
                border: 5px solid transparent;
              }
            }
          }
          a {
            text-decoration: none;
            color: var(--fg-color3);
            font-size: 1.5rem;
            line-height: 2.5rem;
            letter-spacing: 0.1rem;
          }
        }
      }
    }
  }
}

#Wykształcenie {
  h4 {
    anchor-name: --wh;
  }
  p {
    anchor-name: --wp;
    anchor-scope: --wp;
    &::after {
      content: '';

      top: anchor(bottom --wh);
      left: anchor(center --wh);
      bottom: anchor(center --wp);
      right: calc(anchor(left --wp));
    }
  }
}
#Certyfikaty {
  h4 {
    anchor-name: --ch;
  }
  p {
    anchor-name: --cp;
    anchor-scope: --cp;
    &::after {
      content: '';

      top: anchor(bottom --ch);
      left: anchor(center --ch);
      bottom: anchor(center --cp);
      right: anchor(left --cp);
    }
  }
}
#Umiejętności {
  h4 {
    anchor-name: --uh;
  }
  p {
    anchor-name: --up;
    anchor-scope: --up;
    &::after {
      content: '';

      top: anchor(bottom --uh);
      left: anchor(center --uh);
      bottom: anchor(center --up);
      right: anchor(left --up);
    }
  }
}
#Kontakt {
  h4 {
    anchor-name: --kh;
  }
  p {
    anchor-name: --kp;
    anchor-scope: --kp;
    &::after {
      content: '';

      top: anchor(bottom --kh);
      left: anchor(center --kh);
      bottom: anchor(center --kp);
      right: anchor(left --kp);
    }
  }
}
#Informacje {
  h4 {
    anchor-name: --ih;
  }
  p {
    anchor-name: --ip;
    anchor-scope: --ip;
    &::after {
      content: '';

      top: anchor(bottom --ih);
      left: anchor(center --ih);
      bottom: anchor(center --ip);
      right: anchor(left --ip);
    }
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: var(--bg-color1);
  section {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (width < 1200px) {
      width: 100%;
    }

    section {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;

      @media (width < 1200px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      div {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px 0;

        @media (width < 1200px) {
          width: 100%;
          align-items: center;
          justify-content: center;
        }

        a,
        p {
          color: var(--fg-color1);
          padding: 10px 0;
          font-size: 2rem;
          font-weight: 500;
          letter-spacing: 0.1rem;
          text-decoration: none;
        }
      }
    }
    small {
      color: gold;
      letter-spacing: 0.1rem;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
