@import '/css/color.css';

main.home {
  width: 100%;
  margin: 0 auto;
  .s1 {
    width: 100%;
    aspect-ratio: 5/1;
    padding: 10px;
    background-image:
      conic-gradient(hsla(0, 0%, 0%, 0.75) 0 0), url(/img/home-img.jpg);
    background-size: cover;
    background-position: 5%;
    mask-image: linear-gradient(var(--bg-color2) 60%, transparent);
    @media (width <1200px) {
      aspect-ratio: 2/1;
    }
    div {
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;

      @media (width < 900px) {
        width: 100%;
      }

      h1 {
        font-size: 5rem;
        display: inline-block;
        text-align: center;
        color: var(--fg-color1);
        text-transform: uppercase;
        letter-spacing: 1rem;
        line-height: 6rem;
        font-weight: bold;
        @media (width <1200px) {
          font-size: clamp(2rem, 2.5vw, 4rem);
        }
      }
      img {
        display: block;
        width: 70%;
        aspect-ratio: 21/9;

        @media (width < 900px) {
          display: none;
        }
      }
    }
  }
  .s2 {
    background-color: var(--bg-color2);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @media (width < 1200px) {
      flex-direction: column;
      justify-content: center;
    }

    a {
      width: 300px;
      padding: 10px;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      aspect-ratio: 2/1;
      background-color: #6e6428;
      border: 2px solid var(--fg-color1);
      box-shadow: 0 0 26px -5px var(--fg-color1);
      transform: scale(1);
      transition: transform 1s;

      @media (width < 1200px) {
        width: 200px;
      }

      &:hover,
      &:focus-visible {
        transform: scale(1.2);
      }
    }

    img {
      margin-inline: auto;
      width: 80%;
      aspect-ratio: 2/1;
    }
    p {
      text-decoration: none;
      color: var(--fg-color1);
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }
  .s3 {
    background-color: hsl(from var(--bg-color1) h s 30%);
    padding: 20px;
    div {
      margin-inline: auto;
      width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      @media (width < 1200px) {
        width: 100%;
        padding: 10px 5px;
        flex-direction: column;
        justify-content: center;
      }
      p {
        width: 40%;
        text-align: justify;
        color: var(--fg-color3);
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.1rem;

        @media (width < 1200px) {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}
